<nav>
  <div class="logo">
    <a href="/">
    {%  render 'logo' %}
    </a>
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="#">marine collagen supplements</a></li>
      <li><a href="#">deep lift skin care</a></li>
      <li><a href="#">collagen hair care</a></li>
      <li><a href="#">collagen boosting sum</a></li>
      <li><a href="#">collagen success stories</a></li>
    </ul>
  </div>
  <div class="nav-menu">
    {%  render 'icon-menu' %}
  </div>
  <div class="nav-icons">
    <ul>
      <li>
          <a href="#">
            {%  render 'icon-search' %}
          </a>
      </li>
      <li>
        <a href="#">
          {%  render 'icon-user' %}
        </a>
    </li>
    <li>
        <a href="#">
          {%  render 'icon-cart' %}
        </a>
    </li>
    </ul>
  </div>
</nav>


<style>
  nav {
    display: flex;
    justify-content: space-between;
    padding: 9px;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    z-index: 100;
    width: 100%;
  }
  
  nav div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul{
    display: flex;
  }
  nav ul {
    list-style: none;

    gap: 20px;
  } 
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  nav .nav-links{
    display: flex;
  }

  nav .nav-menu{
      display: none;
  }

  .nav-icons{
    padding: 0 3% 0 0;
  }

  .nav-icons ul{
    display: flex;
  }

  .nav-icons li{
    list-style: none;
  }

  a.active{
    color: rgba(rgb(94, 40, 40), 100%);
    font-weight: bolder;
  }

  .logo{
    width: 30%;
    height: 20%;
  }

  @media (max-width: 940px) {
    nav .nav-menu{
      display: flex;
    }

    nav .nav-links{
      display: none;
    }

    .nav-icons li:nth-child(1),
    .nav-icons li:nth-child(2) {
      display: none;
    }
  }
</style>

<script>
  const { pathname } = window.location

  const activeNav = document.querySelector(`nav a[href="${pathname}"]`)
  
  if(activeNav){
    activeNav.classList.add("active")
  }
</script>